body {
    font-family: Arial, sans-serif;
    background-color:black;
    margin: 0;
    padding: 0;
}

header {
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 8px 16px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}